# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# 忽略*.bak文件（用EditPlus打开文件产生的）
*.bak

# 忽略编译生成obj文件、dll文件、可执行文件、lib文件
*.obj
*.dll
*.exe
*.pdb
*.lib
*.lik
*.exp

# 忽略生成的MOC文件还有ui文件、qrc文件
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*

# 忽略用户配置文件
*.pro.user

# 忽略Windows中的部分文件
Thumbs.db
desktop.ini

# 临时文件
*~

# 忽略文件夹
bin
doc/help
